<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ShowErrors" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Configuration" value="Release" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ConnectionStringName" value="DomoProd" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>