@using  Socha3.MemeBox2000
@using  Socha3.MemeBox2000.Models

@model ContactMessage

@{
    ViewBag.Title = "Login";
}

<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome, @ViewBag.Name!</p>
        <p>@Html.ActionLink("Logout", "Logout", null, new { @class = "btn btn-primary btn-lg" })</p>
    }
    else
    {
        <p><a href="#" class="btn btn-primary btn-lg" onclick="window.signin();">Login</a></p>
    }
</div>