@{
  ViewBag.Title = "Error";
}

<h2 class="text-danger">
  An error has ocurred!
</h2>
<p>An email has been sent to notify the admin.</p>
<p>@ViewBag.Error</p>
<img src="@Url.Content("~/Content/img/broken_robot.jpg")" />
<br />
<br />