<!-- HOME -->
<div class="row-fluid">

  <!-- PHONES IMAGE FOR DESKTOP MEDIA QUERY -->
  <div class="span5 visible-desktop">
    <img src="@Url.Content("~/Content/img/banner.jpg")">
  </div>

  <!-- APP DETAILS -->
  <div class="span7">

    <!-- ICON
    <div class="visible-desktop" id="icon">
      <img src="@Url.Content("~/Content/img/app_icon.png")" />
    </div>-->
    <!-- APP NAME -->
    <div id="app-name">
      <h1 id="site-title">MemeBox<br/>2000</h1><br />
      <span class="version-top label label-inverse">Version 1.2</span>
    </div>



    <!-- TAGLINE -->
    <div id="tagline">
      A free meme sharing site for desktop, mobile and tablet!
    </div>

    <!-- PHONES IMAGE FOR TABLET MEDIA QUERY -->
    <div class="hidden-desktop" id="phones">
      <img src="@Url.Content("~/Content/img/banner.jpg")">
    </div>

    <!-- DESCRIPTION -->
    <div id="description">
      MemeBox2000 is a free, fully responsive meme sharing website. The design uses CSS3 to scale the content proportionally to whatever device is being used. Give it a try by resizing your browser!
    </div>

    <!-- FEATURES -->
    <ul id="features">
      <li>Fully Responsive HTML/CSS3</li>
      <li>Created by <a href="https://socha3.com">Mike Socha III</a> - .Net guru</li>
      <li>Upload and share your memes!</li>
      <li>Completely Free!</li>
    </ul>

    <!-- REQUIREMENT BOX -->
    <div class="download-box">
      <strong>Requirements:</strong><br>
      Compatible with iPhone and iPod touch. Requires iPhone OS 2.2 or later. WiFi, Edge, or 3G network connection sometimes required.<br /><br />
    </div>
    <div class="download-box">
      <strong>Requirements:</strong><br>
      Requires Android 2.3 and higher. WiFi, Edge, or 3G network connection sometimes required.<br /><br />
    </div>
  </div>
</div>