@{
  /**/

  ViewBag.Title = "About";
}

<!-- ABOUT & UPDATES -->
<div class="row-fluid" id="about">

  <div class="span6">
    <h2 class="page-title" id="scroll_up">
      About
    </h2>

    <p>MemeBox2000 is a fully responsive HTML/CSS website perfect for browsing and sharing funny internet memes on you desktop tablet or mobile device.  The site utilizes responsive CSS3 & jQuery technology to provide a consistent and enjoyable viewing experience across multiple devices.</p>
    <p>MemeBox2000 is 100% free to use. You may upload, edit and share memes here as much as you wish, without charge.</p>
    <p><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">MemeBox2000</span> by Mike Socha III - <a href="https://socha3.com">Socha3</a></p>

  </div>

  <div class="span6 updates" id="updates">
    <h2 class="page-title" id="scroll_up">
      Updates
    </h2>

    <!-- UPDATES & RELEASE NOTES -->

    <h3 class="version">Version 1.2</h3>
    <span class="release-date">August 29th, 2018</span>
    <ul>
      <li><span class="label new">NEW</span>Added caching and performance enhancements</li>
    </ul>
    <hr>

    <h3 class="version">Version 0.9 beta</h3>
    <span class="release-date">July 30th, 2014</span>
    <ul>
      <li><span class="label new">NEW</span>Meme description and labeling capabilities</li>
      <li><span class="label fix">FIX</span>Meme submission portal random upload timeouts</li>
    </ul>
    <hr>

    <h3 class="version">Version 0.7 beta</h3>
    <span class="release-date">July 21st, 2014</span>
    <ul>
      <li><span class="label new">NEW</span>Demo meme submission portal</li>
      <li><span class="label fix">FIX</span>Malfunctioning nav button</li>
      <li><span class="label new">NEW</span>Contact page for collaboration and inquiries</li>
    </ul>
    <hr>

    <h3 class="version">Version 0.5 beta</h3>
    <span class="release-date">July 10th, 2014</span>
    <ul>
      <li><span class="label label-info">NEW</span>Initial Prod</li>
    </ul>

  </div>

</div>